<html>
<head>
    <style>
        h1, p {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Login Success</h1>
<p>We are redirecting you right now, thank you!!</p>
<script>
    window.location.replace('/')
</script>
</body>
</html>