<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         coverage-html="./reports"
         bootstrap="../../../vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="AppKernel" />
        <env name="APP_ENV" value="starter_kit_test" />
        <env name="APP_DEBUG" value="1" />

        <env name="JWS_PASS_PHRASE" value="MOO_MOO_MOO" />
        <env name="REFRESH_TOKEN_TTL" value="10368000" />
        <env name="JWS_TTL" value="5184000" />

        <env name="FACEBOOK_APP_SECRET" value="FAKE" />
        <env name="FACEBOOK_APP_ID" value="FAKE" />
        <env name="FACEBOOK_API_VERSION" value="v2.11" />
        <env name="GOOGLE_CLIENT_ID" value="FAKE" />

        <env name="AWS_KEY" value="FAKE" />
        <env name="AWS_SECRET" value="FAKE" />
        <env name="AWS_REGION" value="FAKE" />
        <env name="AWS_BUCKET" value="FAKE" />
        <env name="AWS_VERSION" value="2006-03-01" />


        <env name="SLACK_CLIENT_KEY" value="FAKE" />
        <env name="SLACK_CLIENT_ID" value="FAKE" />

        <env name="APP_EMAIL" value="fake@email.com" />
        <env name="USER_CLASS" value="StarterKit\StartBundle\Tests\Entity\User" />
        <!-- define your env variables for the test env here -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>Resources</directory>
                <directory>DataFixtures</directory>
                <directory>Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
